@media (max-width: 400px) {
  .font-size-14 {
    font-size: 14px;
    width: 9rem;
  }

  .font-size-headline {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .font-size-14 {
    font-size: 12px;
    width: 8rem;
  }
}